*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    padding-top: 5px;
}
header h1{
     position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; 

    align-items: center;
    text-align: center;
    justify-content: center;
    background: transparent;
    border-bottom: 1px solid yellowgreen;
    color: white;
    padding: 1rem;
    font-size: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    backdrop-filter: blur(5px);
}


.footer {
     display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background:transparent;
border-top: 1px solid yellowgreen;
    margin-top: 2rem;
}

.footer-text {
    font-size: 1.6rem;
    color: var(--white-color);
}

.footer-iconTop a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: transparent;
    border-radius: .8rem;
    border: .1rem solid yellowgreen;
    outline: .2rem solid transparent;
    transition: .5s ease;
}

.footer-iconTop a:hover {
    outline-color: yellowgreen;
}

.footer-iconTop a i {
    font-size: 1rem;
    color: #333;
}

:root {
    --bg-color: #fdfdfd;
    --text-color: #333;
    --main-color: #754ef9;
    --white-color: #dfdfdf;
    --shadow-color: rgba(0, 0, 0, 0.2);
}

.social-media a:hover {
    background: yellowgreen;
    color: var(--white-color);
    transition: .5s ease-in-out;
    font-size: 1rem;
}

.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: transparent;
    border-radius: 50%;
    border: 1px solid yellowgreen;
    transition: .5s ease;
    margin: 0 .5rem;
}
