.InfoBox {
    text-align: center;
}
.CardContainer {
    display: flex;
    justify-content: center;
 }
.MuiPaper-root{
    background-color: black !important;
    color: white !important;
    background: transparent !important;
    border: .1rem solid yellowgreen !important;
 }
 .MuiOutlinedInput-notchedOutline{
    border: .1rem solid yellowgreen !important;
    background : transparent !important;
 }
.MuiFormLabel-root{
   color: white !important;
 }
.MuiOutlinedInput-input{
   color: white !important;
 }
